@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap');

@layer tailwind-base, antd;

@layer tailwind-base {
  @tailwind base;
}

@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Noto Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
  }

  :root {
    overflow-y: hidden;
    overflow-x: hidden;
  }

  :root:hover {
    overflow-y: auto;
  }

  ::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 1rem;
    border: 1px solid transparent;
  }

  ::-webkit-scrollbar-track {
    background: rgba(85, 85, 85, 0);
    border-radius: 1rem;
  }
}

.slick-list .slick-track .slick-slide.slick-active>div {
  border-radius: 0.75rem;
  overflow: hidden;
}